@import "tailwindcss";

@font-face {
  font-family: "DynaPuff";
  src: url('./assets/fonts/DynaPuff-VariableFont.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url('./assets/fonts/PlusJakartaSans-VariableFont.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@theme {
  --font-title: "DynaPuff", sans-serif;
  --font-default: "PlusJakartaSans", sans-serif;

  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-hover: #27272a;

  --color-text: #f4f4f5;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;

  --color-border: #3f3f46;

  --color-highlight-background: oklch(39.8% 0.195 277.366);
  --color-highlight-text: oklch(14.1% 0.005 285.823);
  --color-highlight-border: var(--color-highlight-background);
  --color-highlight-glow: oklch(67.3% 0.182 276.935);

  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-danger: #f87171;
}